extends ../views/layout

block prepend head
  title Christopher Andrejewski - Resume

block prepend body
  .document
    .download
      p.print-not This resume is printable. #[a.action(onClick='print()') Print resume] or #[a.action(href='chris-andrejewski-resume.pdf') Download PDF]
      p.print-only Visit #[a.action(href='http://chrisandrejewski.com/resume') chrisandrejewski.com/resume] for the most recent version of this document.

    header.flex-expand
      .name
        h1 Christopher Andrejewski

      p.address-line
        span Email: #[a(href='mailto:christopher.andrejewski@gmail.com') christopher.andrejewski@gmail.com]
        span Github: #[a(href='https://github.com/andrejewski') github.com/andrejewski]

    section
      h3 Staff Software Engineer
      p Stripe – Seattle, Washington, March 2022 to present
      ul
        li Leading an awesome platform team 
        li Building a code-less messaging authoring experience
        li Saving fellow Stripes hundreds of hours on messaging
        li Saving millions of dollars in various cost optimizations
        li Helping everyone write their next best ever code

    section
      h3 Software Engineer
      p Stripe – San Francisco, California, September 2018 to March 2022
      ul
        li Maintain email, telephony, and push notification infrastructure at scale
        li Build and secure email infrastructure on top of Amazon SES
        li Build user interfaces for features within the Stripe Dashboard 
        li Design and evolve APIs and developer tooling for product teams to build upon
        li Advocate and automate higher levels of product quality

    section
      h3 Software Engineer
      p Bitovi – Chicago, Illinois, March 2017 to August 2018
      ul
        li Develop a code modification tool to stream-line multiple large refactors
        li Maintain and develop existing libraries, frameworks, and tooling
        li Work with clients to deliver familiar desktop solutions with better user interfaces in the browser
        li Teach and mentor fellow developers to better architect and test software
        li Create open source software to assist in application development

    section
      h3 Software Engineer
      p Interactive Intelligence – Raleigh, North Carolina, May 2016 to February 2017
      ul
        li Reduce bundle size of Collaborate product by roughly 50%
        li Translate legacy CoffeeScript to ES2016 JavaScript
        li Develop additions to the instant messaging product, including PCI compliance features
        li Develop user interface improvements and perform code refactors and reviews
        li Rewrite the PureCloud JavaScript client software development kit
        li Publish open source projects for logging, Ember code migration, multi-level caching, and command-line interface parsing

    section
      h3 Research Assistant
      p Penn State University – Erie, Pennsylvania, September 2015 to May 2016
      ul
        li Research and develop a computer-vision software for librarians to sort books by call number
        li Receive first place for the librarian software at the Penn State - Sigma Xi Undergraduate Research Conference
        li Develop a revived senior design project for the Pennsylvania SeaGrant and Wildlife organizations
        li Work with the Penn State IT department to place the project in production

    section
      h3 Software Engineer
      p Netbus Engineering Group – Erie, Pennsylvania, June 2015 to August 2015
      ul
        li Develop a large scale customer management system under startup constraints
        li Implement service integrations with providers of fraud-prevention to fulfillment solutions
        li Develop and design large potions of the integrations, customers, and shipping interfaces
        li Work with CoffeeScript, Redis, and Mongodb for rapid prototyping and development
